  
node_modules/
node_modules
node_modules
node_modules

/ui/build
/ui/.env.local
/ui/.env.development.local
/ui/.env.test.local
/ui/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
